body{
	margin: 0;
	font-family: 'Tahoma', sans-serif;
}
* {
	box-sizing: border-box;
}
img{
	max-width: 100%;
	margin-bottom: 40px;
}
.header{
	padding-top: 77px;
	padding-bottom: 96px;
}
.header-text__title{
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
}
.header-text__subtitle{
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: 400;
}
.header-text__desc{
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.header-text__price{
	margin-bottom: 53px;
	font-size: 48px;
	font-weight: 400;
	color: #313131;
}
.button{
	padding: 22px 43px;
	height: 67px;
	border: none;
	border-radius: 5px;
	background-color: #f05a22;
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-right: 40px;
	margin-bottom: 15px;
}
.button-o{
	border: 3px solid #f05a22;
	background-color: white;
	color: #f05a22;
}
.features{
	background-color: #f2f2f2;
	padding-top: 89px;
	padding-bottom: 100px;
	text-align: center;
}
.section-title{
	margin-bottom: 91px;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
}
.features__img{
	min-height: 55px;
}
.features__text{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 400;
}
.buyer{
	padding-top: 89px;
	padding-bottom: 111px;
	text-align: center;
}